.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */

  background-image: var(--bcki);
  background-color: var(--bckc);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'IBM Plex mono', monospace, sans-serif;
  padding: 0px 10px;
} 

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  height: 100vh;
  min-height: 668px;
  justify-self: end;
  align-self: start;
  padding-block-end: 10px;
  padding-block-start: 10px;
}

/* углы */

.decorated-zone::before,
.decorated-zone::after {
  position: absolute;
  content: '';
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  border-top: 1px solid var(--pink-to-gray);
  border-right: 1px solid var(--pink-to-gray);
  top: 10px;
  right: 0px;
}

.decorated-zone::after {
  border-bottom: 1px solid var(--pink-to-gray);
  border-left: 1px solid var(--pink-to-gray);
  bottom: 10px;
  left: 0px;
}

/* REC */

.additional-content {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.additional-content::before {
  content: "rec";
  top: 10px;
  right: 28px;
  position: absolute;
  font-weight: 400px;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: var(--pink-to-gray);
  visibility: var(--visibility);
}

.additional-content::after {
  content: '';
  position: absolute;
  width: 9px;
  height: 9px;
  top: 18px;
  right: 9px;
  background-color: var(--main-bg-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--main-bg-color);
  visibility: var(--visibility);
}

/* кнопки */

.header__theme-menu {
  align-self: center;
}

.header__theme-menu-list {
  display: grid;
  justify-content: end;
  gap: 14px;
}

.header__theme-menu-button {
  text-transform: lowercase;
  font-size: 18px;
  line-height: 18px;
  border: 1px solid transparent;
  background-color: transparent;
  padding: 1px 13px;
  text-align: center;
  cursor: pointer;
  color: var(--pink-to-gray);
}

.header__theme-menu-button_active {
  border-color: var(--pink-to-gray);
}

/* Стили для состояний кнопок */

.header__theme-menu-button:hover {
  outline: 1px solid var(--pink-to-gray-hover-button);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border: none;
  outline: none;
  border-block-end: 1px solid var(--pink-to-gray);
}

/* стили для заголока хедера */

.header__title {
  color: var(--main-title-color);
  font-size: var(--title-size-small);
  font-weight: bold;
  line-height: 95.7px;
  text-shadow: 4px 4px 0 var(--main-bg-color);
}

/* стили для абзаца */

.header__description {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--main-bg-color);
  color: var(--subtitle-color);
  justify-self: end;
  align-self: center;
}

/* main */

/* заголовки с текстом(описанием) */

.article-section {
  padding-top: 40px;
  padding-block-end: 10px;
}

.article-title {
  color: var(--pink-to-gray);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.article-section:first-child {
  padding-top: 40px;
}

.article-subsection {
  padding-block-start: 20px;
}

.subsection-title {
  color: var(--subtitle-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  background-color: var(--main-bg-color);
  align-self: start;
}

.subsection-title-wispy {
  font-weight: 400;
}

.subsection-text {
  color: var(--subtitle-subsection-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  padding-block-start: 10px;
}

/* стили для ссылок */

.link-shadow {
  text-shadow: 2px 2px 0 var(--main-bg-color);
}

.text-link {
  text-decoration: none;
}

/* события для ссылок */

.text-link:hover {
  border-bottom: 1px solid var(--link-event-color);
}

.text-link:focus {
  border: none;
}

.text-link:focus-visible {
  outline: 1px solid var(--link-event-color);
}

.subsection-extra-title {
  /* margin-block-end: 19px; */
  margin-block-start: 19px;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.article-subsection-picture {
  padding-block-start: 10px;
}

.article-picture-title {
  color: var(--subtitle-color);
  background-color: var(--main-bg-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px
}

/* стили для картинок */
.image-list {
  display: grid;
  gap: 10px;
  list-style-type: none;

}

.image-item img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;

}

.article-section:last-child {
  padding-block-end: 40px;
}

/* footer */

.footer {
  position: relative;
  min-height: 668px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.focus-text {
  color: var(--main-title-color);
  font-size: var(--title-size-small);
  font-weight: bold;
  line-height: 95.7px;
  text-shadow: 2px 2px 0 var(--main-bg-color);
}

.decorated-zone::before, 
.decorated-zone::after {
  position: absolute;
  content: '';
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  border-top: 1px solid var(--pink-to-gray);
  border-right: 1px solid var(--pink-to-gray);
  top: 11px;
  right: 0px;
}

.decorated-zone::after {
  border-bottom: 1px solid var(--pink-to-gray);
  border-left: 1px solid var(--pink-to-gray);
  bottom: 10px;
  left: 0px;
}

/* медиазапросы */

@media (width >= 765px) {

  .page {
    padding: 0px 20px;
  }

  .header {
    min-height: 668px;
    padding-block-start: 20px;
    padding-block-end: 20px;
  }

  /* rec + углы  */

  .additional-content::before {
    top: 20px;
  }

  .additional-content::after {
    top: 28px;
  }

  .decorated-zone::before {
    top: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
  }

  /* кнопки */

  .header__title {
    font-size: var(--title-size-big);
    margin-inline-start: -20px;
    line-height: 82.5%;
  }

  .header__description {
    width: 50%;
  }

  .article-section:first-child {
    padding-top:  60px;
  }

  .article-section {
    display: grid;
    gap: 20px;
    padding-block-start: 70px;
  }

  .article-content {
    grid-template-columns: 1fr 2fr;
  }

  .article-title {
    grid-column: 1/2;
    grid-row: 1/3;
  }

  .subsection-extra-title {
    margin-block-start: 0;
  }

  .article-subsection {
    padding-block-start: 0;
    
  }

  .article-details {
    grid-column: 2/2;
  }

  .article-list .article-title {
    max-width: 236px;
  }

  .article-subsection-picture {
    padding-block-start: 0;
  }

  .image-list {
    /* display: grid; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 192px 230px 318px;
    gap: 20px;
    object-fit: cover;
    object-position: center;
    grid-template-areas: 
    'sunset sunset ice'
    'mp books ice'
    'mp street street';
  }

  .image-list li:nth-child(1) {
    grid-area: sunset;
  }

  .image-list li:nth-child(2) {
    grid-area: ice;
  }

  .image-list li:nth-child(3) {
   grid-area: mp;
  }

  .image-list li:nth-child(4) {
    grid-area: books;
  }

  .image-list li:nth-child(5) {
    grid-area: street;
  }

  .article-section:last-child {
    padding-block-end: 60px;
  }

  .footer {
    min-height: 1024px;
  }

  .focus-text {
    font-size: var(--title-size-big);
  }

  .decorated-zone::before {
    top: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
  }
}

@media (width >= 1023px) {
  .header {
    min-height: 668px;
  }

  .decorated-zone::before {
    top: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
  }

  .header__title {
    text-shadow: 4px 4px 0px var(--accent-color);
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    gap: 10px;
  }

  .header__theme-menu-button {
    padding: 1px 10px;
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
  }

  .content-stretch {
    min-width: 649px;
  }

  .article-list {
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(3, 1fr);
  }

  .article-list .article-title{
    min-width: 315px;
    grid-column: 1/4;
  }

  .article-section:first-child {
    padding-top: 60px;
  }

  .article-section:last-child {
    padding-block-end: 60px;
  }

  .image-list {
    grid-template-rows: 260px 315px 433px;
  }

  .footer {
    min-height: 774px;
  }

  .decorated-zone::after {
    bottom: 27px;
  }

  .focus-text {
    text-shadow: 4px 4px 0px var(--accent-color);
  }
}